@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root{
    --color-text: #FFFFFF;
    --color-header: #171728;
    --color-body: #212135;
    --color-button-end-text: #629CE0;
    --color-cardHabilidade: #edeff169;     

}
header{
    background-color: var(--color-header);
    display: flex;
    justify-content: space-around;
    color: var(--color-button-end-text);
    
    
}
body{
    background-color: var(--color-body);
   
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container-flex{
         background-color:#31313F ;
         width: 1200px;   
         margin: 0 auto;
}
.border{
    display: flex;
    background-color: var(--color-cardHabilidade);
    padding: 10px;
}
.textoProjetos{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    color: var(--color-text);
    gap: 1rem;
    padding: 20px;
    
}

.btn-contato{
    display: flex;
    gap:10px;
    padding: 20px 20px 0px 0px;
    
}
button{
    padding: 10px;
    background-color: var(--color-button-end-text);
    border: none;
    border-radius: 5px;
    color: var(--color-text);
}
.video{
    height: 441px;
    width: 740px;
    padding: 10px;
}
