@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


:root{
    --color-text: #FFFFFF;
    --color-header: #171728;
    --color-body: #212135;
    --color-button-end-text: #629CE0;
    --color-cardHabilidade: #edeff169;     

}
a{
    text-decoration: none;
}
header{
    background-color: var(--color-header);
    display: flex;
    justify-content:space-around;
    color: var(--color-button-end-text);
    padding: 10px;
   
    
    
    
}
section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

body{
    background-color: var(--color-body);
   
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.titlePortfolio{
    font-family: Poppins;

}

.container-flex{
    display: flex;
         background-color:#31313F ;
         width: 1200px;   
         margin: 0 auto;
         border-radius: 10px;
         padding: 10px;
       
        
}
.border{
  
    background-color: var(--color-cardHabilidade);
    
    flex-wrap: wrap;
    
    
}

.flexbutton{
    display: flex;
    gap: 5px;
}
.color-button{
    background-color: var(--color-body);
    border: 1px solid rgb(3, 133, 209);
    display: flex;
    gap: 5px;
}
.color-button:hover{
    background-color: var(--color-button-end-text);
}
.textoProjetos{
    display: flex;
    flex-direction: column;
    font-family: Poppins;
    color: var(--color-text);
    gap: 1rem;
    padding: 20px;
    
}

.btn-contato{
    display: flex;
    gap:10px;
    padding: 20px 20px 0px 0px;
    
}
button{
    padding: 10px;
    background-color: var(--color-button-end-text);
    border: none;
    border-radius: 5px;
    color: var(--color-text);
}
.video{

    height: 441px;
   left: 250px;
    padding: 10px;
    position: relative;
    top: 50px;
   
}
.title > h2{
    font-family: Poppins;
    color: var(--color-text);
    ;
    display: flex;
    align-items: center;
   
}
.icon{
    width: 20px;
}
.title{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20rem;
}
button:hover{
  cursor:pointer;
    transition: 1s;
    background-color: var(--color-header);
}

.icon{
 width: 25px;
}
.icons{
width: 20px;
}
.grid{
    display: grid;
    grid-template-columns: 110px 110px;
    gap: 70px 400px;
    justify-content: center;

}
.video1{

    width: 528px;
    height: 345px;
    z-index: 999999;
    position: relative;
    bottom:350px ;
    left: 75px;
    border-radius: 30px;

}
.imgNotbook{
    z-index: 999999;
    height: 300px;
    border-radius: 200px;
    position: relative;
    


}


footer a{
    color:white;
    text-decoration: none;
    font-family: Poppins;
    display: flex;
    gap: 1rem;
    align-items: center;
    
} 

footer h3{

display: flex;
position: relative;
left: 130px;
    color: var(--color-text);
    padding: 30px;
}
.elipse{
height: 510px;
width: 100px;

}
.imgDesing{
    z-index:7;
    width: 50px;

}


@media screen and (max-width: 740px){


    header{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .imgnNotbook{
        width: 250px;
    }
    h2{
        font-size:20px ;
        text-align: justify;
        word-spacing: 1px;
        
    }
    .video1{
        width: 200px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
       
        top: -241px;
        left: 29px;


      
    }
    .textoProjetos{
        font-size: 15px;
    }
    .container-flex{
        display: flex;
        flex-direction: column;
        font-size: 12px;
        width: 300px;
        padding: auto;
    }
    .video{
        height: 200px;
    
    }
    .title{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .btn-contato{
        position:relative;
        
        
    }
    .color-button{
        font-size: 12px;
        
    }


    footer h3{
        display: none;
     
    }

    .grid{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer{
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    

       font-size: 12px;

    }

    .titlePortfolio{
     

    }

}