@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{


    
    --color-text: #FFFFFF;
    --color-header: #171728;
    --color-body: #212135;
    --color-button-end-text: #629CE0;
    --color-cardHabilidade: #edeff169;     


    --fonte-de-titulo:Poppins;
    --fonte-de-leitura: Poppins 25px;
    --fonte-de-button:Poppins 22px semiBold;
    

}
.interface{
    max-width: 1800px;
    margin: 0 auto;

}

body{
    height: 100vh;
    background-color: var(--color-body);
}


.dobraSection{
    background: var(--color-header);
    height: 158px;
    position: relative;
bottom: 610px;    
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
p{
    font-family: Poppins;
}
a:hover{
    color: #2D7A78;
}
.flex{
    display: flex;
    gap: 200px;
    
  
    
   
}
.grid{
    display: grid;
    grid-template-columns: 200px 200px;
    padding-top: 10px;
    padding-left: 100px;
    gap: 30px 580px;
}



header{
    background: var(--color-header);
    padding: 20px 40px;
}

.titlePortfolio{
    color: var(--color-button-end-text);
    font-family: Poppins;
    font-weight: 300;
    
}
.img-elipse{
    position: relative;
   
    bottom: 450px;
}
.img-topo{
    width: 400px;
    height: 500px;
    position: relative;
    left: 120px;
    z-index: 999999;
    top: 38px;
}
.txt-topo-site{
    padding: 50px;

}
.text-topo-site{
    font-family: Poppins;
    color: var(--color-text);
    font-weight: 300;
    font-size: 22px;
}
.title-topo-site{
    color: var(--color-text);
    font-family: Poppins;
    letter-spacing: 1px;
    font-weight: 600;
    
}
button{
    padding: 10px 34px;
    border-radius: 5px;
    border: solid 1px #629CE0;
    background-color: #212135;
    color: var(--color-text);
    letter-spacing: 0.5px;
    display: flex;
    gap: 1px;

    
    

}
.flexbutton{
   
}
.color-button{
    background-color: var(--color-button-end-text);
    border: none;
    
}
button:hover{
    cursor:pointer;
    transition: 1s;
    background-color: #629CE0;
    

}
.btn-contato{
    display: flex;
    gap:10px;
    padding: 20px 20px 0px 0px;
    
}
.icon{
    width: 20px;
    

}
.sobreMin{
position: relative;
bottom: 600px;
height: 300px;
padding: 20px;
}
 .Hablidades{
    position: relative;
    bottom: 500px;
    

 }
 .icons{
    width: 50px;
 }
 .cardHabilidades{
    width: 390px;
    height: 390px;
    background-color: var(--color-cardHabilidade);
 }
 .flexcard{
    display: flex;
    gap:60px;
    
    padding: 20px;
 }
 .cardHabilidades{
    color: var(--color-text);
    padding:20px;
    border-radius: 10px;
 }
 .tituloCard{
    font-family: Poppins;
    font-weight: 600;

 }
 .Servicos{
    position: relative;
    bottom: 300px;
    
 }
.cardServicos{
    width: 740px;
    color: var(--color-text);
    border: solid 1px #629CE0;
    border-radius: 10px;
    padding: 20px;
 }

 footer{

 }

 .imgFooter{
    position: relative;
    left: 2000px;
   display: flex;
   justify-content:flex-start;
    z-index: 999999;
    height: 100px;


 }